<div class="card mx-auto my-5 card-custom-max-width">
	<div class="card-title h2 text-center text-capitalize">
		<i class="fas fa-lock mx-2"></i>
		<span>login</span>
	</div>
	<div class="card-head text-capitalize">
		<%- include('./partials/messages.ejs') %>
	</div>
	<div class="card-body">
		<div>
			<% socialAuth.forEach(el => { %>
				<a 
					href="/users/auth/<%= el.label %>"
					class="btn btn-block mx-1 my-2 text-capitalize d-none" 
					style="background-color: <%= el.bg %>;"
				>
					<i class="mx-1 fab fa-<%= el.brand %>"></i>
					<span class="mx-1 font-weight-bold">login with <%= el.label %></span>
				</a>
			<% }) %>
			<div class="row">
				<% socialAuth.forEach(el => { %>
					<div class="col">
						<a 
							href="/users/auth/<%= el.label %>"
							class="btn btn-block mx-1 my-2 text-capitalize text-center" 
							data-toggle="tooltip" 
							data-placement="top"
							title="login with <%= el.label %>"
							style="background-color: <%= el.bg %>;"
						>
							<i class="fab fa-2x fa-<%= el.brand %>"></i>
							<!-- <span class="mx-1 font-weight-bold">login with <%= el.label %></span> -->
						</a>
					</div>
				<% }) %>
			</div>
		</div>
		<button 
			class="btn btn-block mx-1 my-2 text-capitalize btn-secondary" 
			onclick="document.querySelector('form#login-form').classList.toggle('d-none')"
		>
			<i class="mx-1 fas fa-envelope"></i>
			<span class="mx-1 font-weight-bold">login with email</span>
		</button>
		<form action="/users/login" method="POST" class="d-none" id="login-form">
			<% fields.forEach((f, i) => { %>
				<div class="form-group my-3">
					<label for="<%= f.id %>" class="text-capitalize"><%= f.label %> </label>
					<div class="input-group">
						<label for="<%= f.id %>" class="input-group-prepend">
							<span class="input-group-text">
								<i class="fas fa-<%= f.icon %> m-1"></i>
							</span>
						</label>
						<input
							autofocus="<% i == 0 ? true : false %>"
							required="<%= f.required %>"
							value="<%= f.value %>"
							class="form-control"
							type="<%= f.type %>"
							name="<%= f.name %>"
							id="<%= f.id %>"
							placeholder="<%= f.placeholder %>"
						/>
					</div>
				</div>
			<% }) %>
			<div class="form-group my-3">
				<div class="form-group">
					<button
						type="submit"
						class="form-control btn btn-primary text-uppercase"
					>
						<i class="fas fa-paper-plane mx-2"></i>
						<span>login</span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer text-capitalize">
		<span>not registerd yet?</span>
		<a href="/users/register" class="mx-1">create an account</a>
	</div>
</div>
