<div class="card mx-auto my-5 card-custom-max-width">
	<div class="card-title h2 text-center text-capitalize">
		<i class="fas fa-user-plus mx-2"></i>
		<span>register</span>
	</div>
	<%- include('./partials/messages.ejs') %>
	<div class="card-body text-capitalize">
		<form action="/register" method="POST">
			<% fields.forEach((f, i) => { %>
			<div class="form-group my-3">
				<label for="<%= f.id %>"><%= f.label %> </label>
				<div class="input-group">
					<label for="<%= f.id %>" class="input-group-prepend">
						<span class="input-group-text">
							<i class="fas fa-<%= f.icon %> m-1"></i>
						</span>
					</label>
					<input
						autofocus="<% i == 0 ? true : false %>"
						required="<%= f.required %>"
						value="<%= f.value %>"
						class="form-control"
						type="<%= f.type %>"
						name="<%= f.name %>"
						id="<%= f.id %>"
						placeholder="<%= f.placeholder %>"
					/>
				</div>
			</div>
			<% }) %>
			<div class="form-group my-3">
				<div class="form-group">
					<button
						type="submit"
						class="form-control btn btn-success text-uppercase"
					>
						<i class="fas fa-paper-plane mx-2"></i>
						<span>register</span>
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
